{% extends "layout.html" %}
{% block title %}Add question page{% endblock %}

{% block content %}
<h2>Add question to exam</h2>

<form action="/add" method="POST">
    <p>Question: <br>
    <input type="text" name="question" required></p>
    <p>Answer: <br>
    <input type="text" name="answer" required></p>
    <br>
    <input type="submit" value="Create question">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<input type="button" onclick="location.href='/'" value="Submit exam">

{% endblock %}