{% extends "layout.html" %}
{% block title %}Add question page{% endblock %}

{% block content %}
<h2>Add question to exam</h2>

<form action="/add" method="POST">
    <p>Question: <br>
    <textarea id="question" name="question" rows="4" cols="50" required></textarea></p>
    <p>Answer: <br>
    <textarea id="answer" name="answer" rows="4" cols="50" required></textarea></p>
    <br>
    <input type="submit" value="Create question">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<form action="check" method="POST">
    <input type="submit" value="Submit exam">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{{ errormessage }}

{% endblock %}