{% extends "layout.html" %}
{% block title %}Exam page{% endblock %}

{% block content %}
Course: {{ exam_course }}
<br>
<h1>Topic: {{ exam_topic }}</h1>
<br>
{% if question %}
Welcome to the exam!
<br>
<br>
<a href="/question/{{ exam_id }}/{{ question.id }}">Start exam</a>
{% else %}
Exam complete!
<br>
<br>
Your results:
<hr>
{% for result in results %}
Question: {{ result.question }}
<br><br>
Your answer: {{ result.answer }}
<br><br>
Right answer: {{ result.right_answer }}
<hr>
{% endfor %}
{% endif %}
{% if is_teacher %}
<br>
This exam has been fully or partially completed by:
<hr>
{% for exam_taker in exam_takers %}
{{ exam_taker.username }}
<hr>
{% endfor %}
{% endif %}
{% endblock %}