{% extends "layout.html" %}
{% block title %}Exam page{% endblock %}

{% block content %}
<b>Course:</b> {{ exam_course }}
<br>
<h1>Topic: {{ exam_topic }}</h1>
<br>
{% if question %}
<b>Welcome to the exam!</b>
<br>
<br>
<a href="/question/{{ exam_id }}/{{ question.id }}">Start exam</a>
{% else %}
<b>Exam complete!</b>
<br>
<br>
<b>Your most recent results:</b>
<hr>
{% for result in results %}
<b>Question:</b> {{ result.question }}
<br><br>
<b>Your answer:</b> {{ result.answer }}
<br><br>
<b>Right answer:</b> {{ result.right_answer }}
<hr>
{% endfor %}
<form action="retake" method="POST">
    <input type="submit" value="Retake exam">
    <input type="hidden" name="exam_id" value="{{ exam_id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% if is_teacher %}
<br>
Total number of people that have answers for this exam in the database: {{ exam_taker_count }}
<br>
The following users have answers in the database:
<hr>
{% for exam_taker in exam_takers %}
{{ exam_taker.username }}
<hr>
{% endfor %}
{% endif %}
{% endblock %}