<title>Study app</title>
<h1>Home page</h1>

{% if session.username %}
Welcome to the study app, {{ session.username }}!
<br><br>
<input type="button" onclick="location.href='/logout'" value="Log out">

{% else %}
<form action="/login" method="POST">
    Username: <input type="text" name="username" required>
    <br>
    Password: <input type="password" name="password" required>
    <br>
    <input type="submit" value="Log in">
    {{ errormessage }}
    </form>

Don't have an account?
<input type="button" onclick="location.href='/register'" value="Register new account">

{% endif %}