{% extends "layout.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
{% if session.username %}
<h2>Front page</h2>
Welcome to the study app, {{ session.username }}!
<br><br>
<input type="button" onclick="location.href='/logout'" value="Log out">
<br><br>

{% if is_teacher %}
<a href="/new">New exam</a>
{% endif %}

<hr>
{% for exam in exams %}
<b>Course:</b> {{ exam.course }}
<br>
<b>Topic:</b> {{ exam.topic }}
<br>
<a href="/exam/{{ exam.id }}">Go to exam</a> <br>
{% if exam.creator_id == session.user_id %}
<br>
<form action="/delete" method="POST">
    <input type="submit" value="Delete exam">
    <input type="hidden" name="exam_id" value="{{ exam.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<hr>
{% endfor %}

{% else %}
<h2>Login</h2>
<form action="/login" method="POST">
    Username: <input type="text" name="username" required>
    <br>
    Password: <input type="password" name="password" required>
    <br>
    <input type="submit" value="Log in">
    {{ errormessage }}
    </form>

Don't have an account?
<input type="button" onclick="location.href='/register'" value="Register new account">

{% endif %}
{% endblock %}