{% extends "layout.html" %}
{% block title %}New exam page{% endblock %}

{% block content %}
<h2>Create new exam</h2>

<form action="/new" method="POST">
    <p>Course: <br>
    <textarea id="course" name="course" rows="4" cols="50" required></textarea></p>
    <p>Topic: <br>
    <textarea id="topic" name="topic" rows="4" cols="50" required></textarea></p>
    <br>
    <input type="submit" value="Create exam">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    {{ errormessage }}
</form>

{% endblock %}