{% extends "layout.html" %}
{% block title %}Question page{% endblock %}

{% block content %}
{{ question.question }}
<br>
<br>
<form action="answer" method="POST">
    <textarea id="answer" name="answer" rows="4" cols="50" required></textarea>
    <br>
    <input type="submit" value="Submit answer">
    <input type="hidden" name="question" value="{{ question.question }}">
    <input type="hidden" name="question_id" value="{{ question.id }}">
    <input type="hidden" name="exam_id" value="{{ exam_id }}">
</form>
<br>
{% endblock %}